<% provide(:title, "basics") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> BOOTCAMP Hogaru | Exam 1 Problem 1</title>
  </head>
  <body>
    <h1>basics</h1>
    <p>
1.	¿Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails? 

Es la forma y los recursos para modelar los componentes de una aplicación.

2.	¿Qué puede hacerse con un resource? 

Operaciones de crear, leer, actualizar y eliminar. CRUUD

3.	¿Qué es RESTful routing? 

Es un método para resolver problemas en la gestión de las rutas proporcionando una interfaz de registro en las rutas. Además, utiliza los verbos HTTP para mantener al mínimo las rutas de acceso únicas, mientras optimiza la estructura de sus controladores.

3.1	¿Cuantas acciones básicas tiene esta filosofía?

Siete (7).

3.2	¿Cuáles son? 

INDEX, SHOW, CREATE, NEW, EDIT, UPDATE, DESTROY.

3.3	¿Cuáles verbos HTTP se utilizan en cada una de ellas?

GET INDEX, GET SHOW, POST CREATE, GET NEW, GET EDIT, PATCH UPDATE, DELETE DESTROY.

    </p>
  </body>
</html>