<% provide(:title, "git") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> BOOTCAMP Hogaru | Exam 1 Problem 1</title>
  </head>
  <body>
    <h1>git</h1>
    <p>

EN PROCESO

    </p>
  </body>
</html>